<div class="d-flex justify-content-between">
    <form #teamForm="ngForm">
        <div class="form-group">
            <label for="name">Team A name</label>
            <input type="text" class="form-control" id="teamsService.teamAName" required [(ngModel)]="teamsService.teamA.name" name="teamsService.teamAName">
        </div>
        <div class="form-group">
            <label for="name">Color</label>
            <input type="color" class="form-control" id="teamsService.teamAColor" required [(ngModel)]="teamsService.teamA.color"
                name="teamsService.teamAColor">
        </div>

        <div>
            <app-new-player-line *ngFor="let p of teamsService.teamA.players; let i = index" [(player)]="teamsService.teamA.players[i]">
            </app-new-player-line>
        </div>
        <button (click)="addPlayer(true)">Add player</button>
    </form>
    <form #teamForm="ngForm">
        <div class="form-group">
            <label for="name">Team B name</label>
            <input type="text" class="form-control" id="teamsService.teamBName" required [(ngModel)]="teamsService.teamB.name" name="teamsService.teamBName">
        </div>
        <div class="form-group">
            <label for="name">Color</label>
            <input type="color" class="form-control" id="teamsService.teamBColor" required [(ngModel)]="teamsService.teamB.color"
                name="teamsService.teamBColor">
        </div>

        <div>
            <app-new-player-line *ngFor="let p of teamsService.teamB.players; let i = index" [(player)]="teamsService.teamB.players[i]">
            </app-new-player-line>
        </div>
        <button (click)="addPlayer(true)">Add player</button>
    </form>
</div>
<button (click)="moveToMatch()">Begin</button>